
.navbar {
  padding: 10px;
  img {
    float: left;
  }
  p {
    font: bold 16px sans-serif;
    color: #012777;
    margin-top: 25px;
    text-transform: uppercase;
    padding-left: 15px;
    display: inline-block;
  }
  .content-right {
    float: right;
    li:before {
      content: '\2714';
      display: inline-block;
      color: #3e9d03;
      padding: 0 6px 0 0;
    }
  }
  ul, ol { list-style-type: none; }
}

.body {
  background: #032c6b;
  height: 500px;
  .col-sm-12 { padding-bottom: 30px; }
  h1, h2, h3, h4 { color: #fff; }
  h2 { margin-top: 0; }
  // .radial-bg {
  //   height: 150px;
  //   width: 200px;
  //   background-image: radial-gradient(red, green, blue);
  // }
  .input-item {
    border-radius: 10px;
    width: 100%;
    height: 50px;
    padding-left: 50px;
    color: #4e555c;
  }
}
